{% extends 'app1/detectorHome.html' %}

{% block content %}
    <form class="form-horizontal" method="POST">
  {% csrf_token %}  
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <h4> CHANGE YOUR PASSWORD </h4>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">
        {{ form.current}}
        <!--<input type="password" placeholder="Current Password" class="form-control"></input> -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">
        {{ form.new }}
       <!-- <input type="password" placeholder="New Password" class="form-control"></input> -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">
        {{ form.reenter }}
       <!-- <input type="password" placeholder="Re-enter Password" class="form-control"></input> -->
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-5 col-md-offset-3">         
        <input type="submit" value="SUBMIT" class="form-control btn btn-success"></input>
      </div>
    </div>
    
  </div>
</form>
	

{% endblock content %}