{% extends 'app1/userHome.html' %}

{% block content %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {{ message | safe }}
	</div>
{% endfor %}
    <div class="row">
        <div class="col-md-10" style="height:200px;overflow:auto;">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>  
                {% for file in data %}
                    <form method="POST">
                        {% csrf_token %}
                        <tr><td>{{ file.title }}</td>
                            <td>{{ file.description }}</td>
                            <td><button type="submit" class="form-control btn btn-success" name="filename" value="{{ file.document }}"> Delete </button></td>
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
